<% provide(:title, 'Home') %>
<h1>Summernote-rails HTML Editor</h1>
<p>Find me in app/views/static_pages/index.html.erb</p>

<div id="summernote">Welcome All!!</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#summernote').summernote('editor.insertText', 'This is entered using insertText method!!!     ');


  });
</script>
